-- CreateEnum
CREATE TYPE "RetailSaleChannel" AS ENUM ('STORE', 'PHONE', 'WHATSAPP', 'INSTAGRAM', 'WEBSITE', 'TRENDYOL', 'OTHER');

-- CreateEnum
CREATE TYPE "RetailSaleType" AS ENUM ('STORE_SALE', 'DELIVERY_SALE', 'CUSTOM_PRODUCTION');

-- CreateEnum
CREATE TYPE "RetailSaleStatus" AS ENUM ('DRAFT', 'CONFIRMED', 'PREPARING', 'IN_PRODUCTION', 'READY', 'OUT_FOR_DELIVERY', 'DELIVERED', 'COMPLETED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "StockFulfillmentType" AS ENUM ('READY_STOCK', 'CUSTOM_PRODUCTION', 'NON_STOCK_SERVICE');

-- CreateEnum
CREATE TYPE "RetailPaymentMethod" AS ENUM ('CASH', 'CREDIT_CARD', 'BANK_TRANSFER', 'ON_ACCOUNT', 'OTHER');

-- CreateEnum
CREATE TYPE "RetailDeliveryType" AS ENUM ('STORE_PICKUP', 'OWN_VEHICLE', 'CARGO', 'COURIER');

-- CreateEnum
CREATE TYPE "RetailDeliveryStatus" AS ENUM ('NOT_REQUIRED', 'WAITING', 'PLANNED', 'PREPARING', 'OUT_FOR_DELIVERY', 'DELIVERED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "RetailPrintType" AS ENUM ('ADDRESS_LABEL_10X15', 'DELIVERY_FORM_A5', 'ORDER_FORM_A4');

-- AlterTable
ALTER TABLE "stock_movements" ADD COLUMN     "created_by_id" INTEGER,
ADD COLUMN     "event_key" TEXT,
ADD COLUMN     "reference_id" TEXT,
ADD COLUMN     "reference_type" TEXT;

-- CreateTable
CREATE TABLE "retail_customers" (
    "id" SERIAL NOT NULL,
    "customer_code" TEXT NOT NULL,
    "first_name" TEXT NOT NULL,
    "last_name" TEXT,
    "display_name" TEXT NOT NULL,
    "phone" TEXT,
    "normalized_phone" TEXT,
    "secondary_phone" TEXT,
    "email" TEXT,
    "customer_note" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "created_by_id" INTEGER NOT NULL,

    CONSTRAINT "retail_customers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "retail_customer_addresses" (
    "id" SERIAL NOT NULL,
    "customer_id" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "recipient_name" TEXT NOT NULL,
    "recipient_phone" TEXT,
    "city" TEXT,
    "district" TEXT,
    "neighborhood" TEXT,
    "postal_code" TEXT,
    "full_address" TEXT NOT NULL,
    "location_description" TEXT,
    "delivery_note" TEXT,
    "is_default" BOOLEAN NOT NULL DEFAULT false,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "created_by_id" INTEGER NOT NULL,

    CONSTRAINT "retail_customer_addresses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "retail_sales" (
    "id" SERIAL NOT NULL,
    "sale_number" TEXT NOT NULL,
    "customer_id" INTEGER NOT NULL,
    "address_id" INTEGER,
    "channel" "RetailSaleChannel" NOT NULL DEFAULT 'STORE',
    "sale_type" "RetailSaleType" NOT NULL DEFAULT 'STORE_SALE',
    "status" "RetailSaleStatus" NOT NULL DEFAULT 'DRAFT',
    "currency" TEXT NOT NULL DEFAULT 'TRY',
    "subtotal" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "discount_total" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "delivery_fee" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "grand_total" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "paid_total" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "remaining_total" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "customer_note" TEXT,
    "internal_note" TEXT,
    "event_key" TEXT NOT NULL,
    "completed_at" TIMESTAMP(3),
    "cancelled_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "created_by_id" INTEGER NOT NULL,
    "completed_by_id" INTEGER,
    "cancelled_by_id" INTEGER,

    CONSTRAINT "retail_sales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "retail_sale_items" (
    "id" SERIAL NOT NULL,
    "sale_id" INTEGER NOT NULL,
    "variant_id" INTEGER,
    "stock_card_id" INTEGER,
    "barcode" TEXT,
    "model_code" TEXT,
    "product_name_snapshot" TEXT NOT NULL,
    "quantity" DECIMAL(12,3) NOT NULL,
    "unit_price" DECIMAL(14,2) NOT NULL,
    "discount_amount" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "line_total" DECIMAL(14,2) NOT NULL,
    "unit_cost_snapshot" DECIMAL(14,4),
    "stock_fulfillment_type" "StockFulfillmentType" NOT NULL DEFAULT 'READY_STOCK',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "retail_sale_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "retail_sale_payments" (
    "id" SERIAL NOT NULL,
    "sale_id" INTEGER NOT NULL,
    "method" "RetailPaymentMethod" NOT NULL,
    "amount" DECIMAL(14,2) NOT NULL,
    "account_id" INTEGER,
    "finance_transaction_id" INTEGER,
    "event_key" TEXT NOT NULL,
    "paid_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "note" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_by_id" INTEGER NOT NULL,

    CONSTRAINT "retail_sale_payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "retail_deliveries" (
    "id" SERIAL NOT NULL,
    "sale_id" INTEGER NOT NULL,
    "address_id" INTEGER,
    "delivery_type" "RetailDeliveryType" NOT NULL DEFAULT 'STORE_PICKUP',
    "status" "RetailDeliveryStatus" NOT NULL DEFAULT 'WAITING',
    "planned_date" TIMESTAMP(3),
    "planned_time" TEXT,
    "assigned_user_id" INTEGER,
    "delivery_note" TEXT,
    "delivered_at" TIMESTAMP(3),
    "delivered_by_id" INTEGER,
    "event_key" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "retail_deliveries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "retail_print_logs" (
    "id" SERIAL NOT NULL,
    "sale_id" INTEGER NOT NULL,
    "print_type" "RetailPrintType" NOT NULL,
    "printed_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "printed_by_id" INTEGER NOT NULL,

    CONSTRAINT "retail_print_logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "retail_customers_customer_code_key" ON "retail_customers"("customer_code");

-- CreateIndex
CREATE UNIQUE INDEX "retail_customers_normalized_phone_key" ON "retail_customers"("normalized_phone");

-- CreateIndex
CREATE INDEX "retail_customers_display_name_idx" ON "retail_customers"("display_name");

-- CreateIndex
CREATE INDEX "retail_customer_addresses_customer_id_idx" ON "retail_customer_addresses"("customer_id");

-- CreateIndex
CREATE UNIQUE INDEX "retail_sales_sale_number_key" ON "retail_sales"("sale_number");

-- CreateIndex
CREATE UNIQUE INDEX "retail_sales_event_key_key" ON "retail_sales"("event_key");

-- CreateIndex
CREATE INDEX "retail_sales_created_at_idx" ON "retail_sales"("created_at");

-- CreateIndex
CREATE INDEX "retail_sales_customer_id_idx" ON "retail_sales"("customer_id");

-- CreateIndex
CREATE INDEX "retail_sale_items_sale_id_idx" ON "retail_sale_items"("sale_id");

-- CreateIndex
CREATE INDEX "retail_sale_items_variant_id_idx" ON "retail_sale_items"("variant_id");

-- CreateIndex
CREATE INDEX "retail_sale_items_stock_card_id_idx" ON "retail_sale_items"("stock_card_id");

-- CreateIndex
CREATE UNIQUE INDEX "retail_sale_payments_event_key_key" ON "retail_sale_payments"("event_key");

-- CreateIndex
CREATE INDEX "retail_sale_payments_sale_id_idx" ON "retail_sale_payments"("sale_id");

-- CreateIndex
CREATE UNIQUE INDEX "retail_deliveries_sale_id_key" ON "retail_deliveries"("sale_id");

-- CreateIndex
CREATE UNIQUE INDEX "retail_deliveries_event_key_key" ON "retail_deliveries"("event_key");

-- CreateIndex
CREATE INDEX "retail_print_logs_sale_id_idx" ON "retail_print_logs"("sale_id");

-- CreateIndex
CREATE UNIQUE INDEX "stock_movements_event_key_key" ON "stock_movements"("event_key");

-- CreateIndex
CREATE INDEX "stock_movements_reference_type_reference_id_idx" ON "stock_movements"("reference_type", "reference_id");

-- AddForeignKey
ALTER TABLE "stock_movements" ADD CONSTRAINT "stock_movements_created_by_id_fkey" FOREIGN KEY ("created_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_customers" ADD CONSTRAINT "retail_customers_created_by_id_fkey" FOREIGN KEY ("created_by_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_customer_addresses" ADD CONSTRAINT "retail_customer_addresses_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "retail_customers"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_customer_addresses" ADD CONSTRAINT "retail_customer_addresses_created_by_id_fkey" FOREIGN KEY ("created_by_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sales" ADD CONSTRAINT "retail_sales_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "retail_customers"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sales" ADD CONSTRAINT "retail_sales_address_id_fkey" FOREIGN KEY ("address_id") REFERENCES "retail_customer_addresses"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sales" ADD CONSTRAINT "retail_sales_created_by_id_fkey" FOREIGN KEY ("created_by_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sales" ADD CONSTRAINT "retail_sales_completed_by_id_fkey" FOREIGN KEY ("completed_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sales" ADD CONSTRAINT "retail_sales_cancelled_by_id_fkey" FOREIGN KEY ("cancelled_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sale_items" ADD CONSTRAINT "retail_sale_items_sale_id_fkey" FOREIGN KEY ("sale_id") REFERENCES "retail_sales"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sale_items" ADD CONSTRAINT "retail_sale_items_variant_id_fkey" FOREIGN KEY ("variant_id") REFERENCES "trendyol_product_variants"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sale_items" ADD CONSTRAINT "retail_sale_items_stock_card_id_fkey" FOREIGN KEY ("stock_card_id") REFERENCES "stock_cards"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sale_payments" ADD CONSTRAINT "retail_sale_payments_sale_id_fkey" FOREIGN KEY ("sale_id") REFERENCES "retail_sales"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sale_payments" ADD CONSTRAINT "retail_sale_payments_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "finance_accounts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sale_payments" ADD CONSTRAINT "retail_sale_payments_finance_transaction_id_fkey" FOREIGN KEY ("finance_transaction_id") REFERENCES "finance_transactions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_sale_payments" ADD CONSTRAINT "retail_sale_payments_created_by_id_fkey" FOREIGN KEY ("created_by_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_deliveries" ADD CONSTRAINT "retail_deliveries_sale_id_fkey" FOREIGN KEY ("sale_id") REFERENCES "retail_sales"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_deliveries" ADD CONSTRAINT "retail_deliveries_address_id_fkey" FOREIGN KEY ("address_id") REFERENCES "retail_customer_addresses"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_deliveries" ADD CONSTRAINT "retail_deliveries_assigned_user_id_fkey" FOREIGN KEY ("assigned_user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_deliveries" ADD CONSTRAINT "retail_deliveries_delivered_by_id_fkey" FOREIGN KEY ("delivered_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_print_logs" ADD CONSTRAINT "retail_print_logs_sale_id_fkey" FOREIGN KEY ("sale_id") REFERENCES "retail_sales"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retail_print_logs" ADD CONSTRAINT "retail_print_logs_printed_by_id_fkey" FOREIGN KEY ("printed_by_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

