# Sunucuda bu dosyayi kok dizinde ".env" olarak kopyalayin - docker-compose.prod.yml
# postgres servisinin sifresini buradan okur.

POSTGRES_USER=erhanflowers
POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD
POSTGRES_DB=erhan_flowers_panel
